tfs_Worksapce/_Net/SL/Developement/ConfigInterp.Test.Deployed/Service References/ResearchService/ConfigInterpService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.corelinksolutions.com/infrastructure/schema/coremessages/v1" elementFormDefault="qualified" targetNamespace="http://schemas.corelinksolutions.com/infrastructure/schema/coremessages/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CoreLinkSolutionFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessages" nillable="true" type="tns:ArrayOfFaultMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoreLinkSolutionFault" nillable="true" type="tns:CoreLinkSolutionFault" />
  <xs:complexType name="ArrayOfFaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FaultMessage" nillable="true" type="tns:FaultMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFaultMessage" nillable="true" type="tns:ArrayOfFaultMessage" />
  <xs:complexType name="FaultMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultMessage" nillable="true" type="tns:FaultMessage" />
  <xs:complexType name="UnhandledExceptionFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CoreLinkSolutionFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnhandledExceptionFault" nillable="true" type="tns:UnhandledExceptionFault" />
  <xs:complexType name="ServiceUnavailableFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CoreLinkSolutionFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ServiceUnavailableFault" nillable="true" type="tns:ServiceUnavailableFault" />
  <xs:complexType name="ValidationFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CoreLinkSolutionFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidationFault" nillable="true" type="tns:ValidationFault" />
  <xs:complexType name="BusinessFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CoreLinkSolutionFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessFault" nillable="true" type="tns:BusinessFault" />
</xs:schema>